.service-bg-1 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/service-image-01.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.service-bg-2 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/service-image-02.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.service-bg-3 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/section-03-bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.service-bg-4 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/service-image-04.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.service-bg-5 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/service-image-05.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.service-bg-6 {
	background: url(http://markiv.mp.test-devs.com/sites/default/files/user-uploads/service-box-01/image/service-image-06.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}